.btn {
 background: var(--button-primary);
 color: var(--color-primary);
 font-weight: 400;
 height: 2rem;
 cursor: pointer;
 transition: transform 200ms ease-in-out;
 border: 1px solid var(--border-primary);
 border-radius: .3rem;
 padding: 0 1.4rem;
 box-sizing: border-box;
}

.btn_icon {
 background: none;
/* width: 2rem;
 height: 2rem;*/
 border: none;
 padding: 0;
}

.btn:active {
 transform: translateY(-1px);
 background: var(--bg-light-theme);
 border: 1px solid var(--border-primary);
 outline: none;
}

.btn:focus {
 outline: none;
}

.btn:disabled {
 opacity: 0.5;
 pointer-events: none;
}
