.btn {
 background: var(--bg-light);
 color: var(--color-invert);
 font-weight: 400;
 height: 4rem;
 cursor: pointer;
 transition: transform 200ms ease-in-out;
 border: 1px solid var(--grey-20);
}

.btn:disabled {
 opacity: 0.5;
 pointer-events: none;
}

.btn:active {
 transform: translateY(-1px);
}