.btn {
 background: var(--button-primary);
 color: var(--color-primary);
 font-weight: 400;
 height: 2rem;
 cursor: pointer;
 transition: transform 200ms ease-in-out;
 border: 1px solid var(--border-primary);
 border-radius: .3rem;
 padding: 0;
 padding-left: 1.4rem;
 padding-right: 1.4rem;
}

.btn:disabled {
 opacity: 0.5;
 pointer-events: none;
}

.btn:active {
 transform: translateY(-1px);
}

.btn:hover{
 background: var(--button-hover);
}