@import "normalize.css";
@import "fonts.css";
@import "../../components/page/page.css";
@import "../../components/button/button.css";

:root {
 /**
 * variables
 */

 --grey-1: #f0f0f0;
 --grey-2: #b8b8b8;
 --grey-3: #535353;
 --grey-4: #323232;
 --black: #000000;
 --white: #ffffff;
 --grey-20: #828282;
 --blue-1: #008cff;
 --blue-2: #0064ff;

 --bg-lighter: var(--grey-1);
 --bg-light: var(--grey-2);
 --bg-dark: var(--grey-3);
 --bg-darker: var(--grey-4);

 --color-lighter: var(--grey-4);
 --color-light: var(--grey-4);
 --color-dark: var(--grey-1);
 --color-darker: var(--grey-1);

 --stroke-lighter: var(--grey-2);
 --stroke-light: var(--grey-20);
 --stroke-dark: var(--grey-20);
 --stroke-darker: var(--grey-20);

 /**
 * default theme
 */
 --bg-primary: var(--bg-lighter);
 --bg-secondary: var(--white); /** form text fields, hover elements */
 --bg-alternate: var(--bg-dark); /** selected elements */
 --bg-invert: var(--bg-darker); /** checkbox */

 --color-primary: var(--black);
 --color-secondary: var(--color-lighter);
 --color-invert: var(--color-darker);

 --button-primary: var(--bg-lighter);

 --stroke-primary: var(--stroke-lighter);
 --stroke-active: var(--blue-2);
}

html[data-theme-lighter] {
 --bg-primary: var(--bg-lighter);
 --bg-secondary: var(--white); /** form text fields, hover elements */
 --bg-alternate: var(--bg-dark); /** selected elements */
 --bg-invert: var(--bg-darker); /** checkbox */

 --color-primary: var(--black);
 --color-secondary: var(--color-lighter);
 --color-invert: var(--color-darker);

 --button-primary: var(--bg-lighter);
}

html[data-theme-light] {
 --color-primary: var(--color-light);
}

html[data-theme-dark] {
 --color-primary: var(--color-dark);
}

html[data-theme-darker] {
 --color-primary: var(--color-darker);
}

body {
 font-family: "Source Sans Pro", sans-serif;
 overflow-y: hidden; /* for correct work fitPanelToContent() */
}