@import "normalize.css";
@import "fonts.css";
@import "../../components/page/page.css";
@import "../../components/button/button.css";
@import "../../components/icon/icon.css";

:root {
 /**
 * variables
 */

 --grey-1: #f0f0f0;
 --grey-2: #b8b8b8;
 --grey-3: #535353;
 --grey-4: #323232;
 --black: #000000;
 --white: #ffffff;
 --grey-10: #fafafa;
 --grey-20: #828282;
 --grey-30: #656565;
 --grey-40: #5f5f5f;
 --blue-1: #008cff;
 --blue-2: #0064ff;
 --error:#FF3D00;
 --success-1:#00D709;
 --success-2:#00FF0A;
 --info-1:#0085FF;
 --info-2:#00BEFF;

 /**
 * First layer of variables.
 */
 --bg-lighter-theme: var(--grey-1);
 --bg-light-theme: var(--grey-2);
 --bg-dark-theme: var(--grey-3);
 --bg-darker-theme: var(--grey-4);

 --color-lighter-theme: var(--grey-4);
 --color-light-theme: var(--grey-4);
 --color-dark-theme: var(--grey-1);
 --color-darker-theme: var(--grey-1);

 --border-lighter-theme: var(--grey-2);
 --border-light-theme: var(--grey-20);
 --border-dark-theme: var(--grey-20);
 --border-darker-theme: var(--grey-20);

 /**
 * Default theme is 'lighter'. Second layer of the variables
 */
 --bg-primary: var(--bg-lighter-theme);
 --bg-secondary: var(--white); /** form text fields, hover elements */
 --bg-alternate: var(--bg-dark-theme); /** selected elements */
 --bg-invert: var(--bg-darker-theme); /** checkbox */

 --color-primary: var(--black);
 --color-secondary: var(--color-lighter-theme);
 --color-invert: var(--color-darker-theme);

 --button-primary: var(--bg-lighter-theme);
 --button-hover: var(--grey-20);

 --border-primary: var(--border-lighter-theme);
 --border-active: var(--blue-2);

 --success: var(--success-1);
 --info: var(--info-1);
}

html[data-theme-light] {
 --bg-primary: var(--bg-lighter-theme);
 --bg-secondary: var(--white); /** form text fields, hover elements */
 --bg-alternate: var(--bg-dark-theme); /** selected elements */
 --bg-invert: var(--bg-darker-theme); /** checkbox */

 --color-primary: var(--black);
 --color-secondary: var(--color-lighter-theme);
 --color-invert: var(--color-darker-theme);

 --button-primary: var(--bg-lighter-theme);
 --button-hover: var(--grey-30);

 --success: var(--success-2);
 --info: var(--info-1);
}

html[data-theme-dark] {
 --bg-primary: var(--bg-dark-theme);
 --bg-secondary: var(--black); /** form text fields, hover elements */
 --bg-alternate: var(--bg-light-theme); /** selected elements */
 --bg-invert: var(--bg-lighter-theme); /** checkbox */

 --color-primary: var(--white);
 --color-secondary: var(--color-darker-theme);
 --color-invert: var(--color-lighter-theme);

 --button-primary: var(--bg-darker-theme);
 --button-hover: var(--grey-40);

 --success: var(--success-2);
 --info: var(--info-2);
}

html[data-theme-darker] {
 --bg-primary: var(--bg-darker-theme);
 --bg-secondary: var(--black); /** form text fields, hover elements */
 --bg-alternate: var(--bg-light-theme); /** selected elements */
 --bg-invert: var(--bg-lighter-theme); /** checkbox */

 --color-primary: var(--white);
 --color-secondary: var(--color-darker-theme);
 --color-invert: var(--color-lighter-theme);

 --button-primary: var(--bg-darker-theme);

 --success: var(--success-2);
 --info: var(--info-2);
}

body {
 font-family: "Source Sans Pro", sans-serif;
 font-family: "Tahoma", Sans-Serif;
 overflow-y: hidden; /* for correct work fitPanelToContent() */
}